* 
{
   margin: 0px;
   padding: 0px;
}

h1 
{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    
}

body 
{
    background-color: #a2e9d4;
    text-align: center;
}


.container 
{
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game 
{
    height: 60vmin;
    width : 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.3vmin;
    
}

.box 
{
    height: 18vmin;
    width: 18vmin;
    font-size: 8vmin;
    border-radius: 2%;
    box-shadow: 2px 2px 2px black;
    color: darkgreen;
    background-color: white;
}

#resetbtn 
{
    background-color: darkred;
    color: white;
    display: inline;
    font-size: 23px;
    padding: 0.4%;
    box-shadow: 1px 1px 1px black;
    margin-left: 100px;
    
}


.box:active
{
    background-color: red;
}

#Winner 
{
    background-color: blue;
    color: white;
    font-size: 4.5vmin;
    
}

.hide 
{
    display: none;
}

#toggle
{
    background-color: darkblue;
    color: white;
    display: inline-block;
    margin-left: 800px;
    margin-right: 100px;
    padding: 0.4%;
    border-radius: 2%;  
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 1px black;
}

#toggle:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.2);
}

#toggle:active 
{
    background-color: white;
    color: black;
}

#resetbtn:hover {
    transition: all 0.1s ease-in-out;
    transform: scale(1.2);
}

#resetbtn:active 
{
    background-color: white;
    transition: all 0.1s ease-in-out;
    color: black;
}


.dark {
    background-color: black;
    color: white;
    h1 {
        color: white;
    }
}

.light {
    background-color: #9ce7d1;
    color: black;
}

